/* tbd */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: beige;
}

#aboutme {
  padding-top: 120px;
}

.icon {
  font-size: 35px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
}

.polaroid {
  background-color: beige;
  margin: 16px;
}

.polaroid p {
  text-align: center;
}

.polaroid img {
  width: 100%;
  padding: 8px 8px 0 8px;
}
