/* tbd */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* background-color: #b9cfed; */
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #efe9e5;
  text-align: center;
}

.header a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  padding: 0 15px;
}

a:hover {
  font-size: 25px;
}

#aboutme {
  padding-top: 120px;
}

.icon {
  font-size: 35px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
}

.polaroid {
  background-color: #efe9e5;
  margin: 16px;
}

.polaroid p {
  text-align: center;
}

.polaroid img {
  width: 100%;
  padding: 8px 8px 0 8px;
}
