/* Universal */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #c87e5d;
  color: #f6efe7;
  font-family: Abril Fatface;
}

/* Header section */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #506056;
  text-align: center;
  z-index: 10;
}

.header h1 {
  font-size: 35px;
  margin-left: 10px;
}

.header a {
  font-size: 25px;
  text-decoration: none;
  color: #f6efe7;
  padding: 0 15px;
}

.header a:hover {
  font-size: 28px;
}

/* About Me section */
#aboutme {
  padding-top: 120px;
}
#aboutme p {
  font-family: indie flower;
  text-align: center;
  font-size: 28px;
  margin: 0 32px;
}

.section-header {
  text-align: center;
  font-size: 34px;
  color: #506056;
}

.about-me-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0 20px;
}

.about-me-container img {
  border-radius: 50%;
  opacity: 85%;
}

/* Skills section */
.skills-container {
  display: flex;
  justify-content: space-evenly;
  min-width: 420px;
}

.icon {
  font-size: 44px;
}

/* Project section */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.polaroid {
  background-color: #f1e4df;
  margin: 16px;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.polaroid p {
  text-align: center;
  color: #4b574f;
  font-family: Indie flower;
}

.polaroid img {
  width: 100%;
  padding: 8px 8px 0 8px;
  opacity: 85%;
}

.polaroid a {
  text-decoration: none;
  font-size: 23px;
  color: #506056;
}

.polaroid a:hover {
  color: #c87e5d;
  font-size: 28px;
}

/* Contact section */
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-container p {
  font-size: 26px;
  padding: 0 15px;
}

.container-icon {
  font-size: 38px;
}

/* Footer Section */
footer p {
  text-align: center;
  font-size: 28px;
  font-family: indie flower;
}

.outro {
  display: flex;
  justify-content: center;
}

.typing {
  position: relative;
  margin-left: 10px;
}

.typing::after {
  content: "";
  width: 1px;
  height: 5%;
  border-right: 2px solid black;
  animation: blink 0.5s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.heart {
  color: #506056;
}

@media (min-width: 992px) {
  .contact-container {
    flex-direction: row;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
